.form-container{
    width: 500px;
    margin: auto;
    margin-top: 0px;
}

.footer{
    background-color: blueviolet;
    color: white;
    text-align: center;
}
body{
    background-color: brown;
}